.Card{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid #444;
    text-align: center;
    width: 300px;
    border-radius: 20px;
}